.box{
    width: 320px;
    height: 138px;
    border: 1px solid #B4B4B4;
    background-color: #FFFFFF;
    margin-top: 73px;
    margin-left: 109px;
}
h5{
    color: black;
    margin-top: 1px;
}
p{
    margin-top: 0px;
    color: grey;
    line-height: 16.41px;
}
